= form_for @user_decision do |f|
  - if @user_decision.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_decision.errors.count, "error")} prohibited this decision to be made:"
      %ul
        - @user_decision.errors.full_messages.each do |message|
          %li= message

  .field
    = f.select :gender, [["Male", "Male"], ["Female", "Female"], ["Other", "Other"]],
                        { include_blank: "Gender:" }, { class: "form-select form-select-md mb-3", required: "true" }
  .field
    = f.select :age, [["Baby", "Baby"], ["Kid", "Kid"], ["Teen", "Teen"], ["Young Adult", "Young Adult"],
                      ["Adult", "Adult"], ["Elder", "Elder"]],
                     { include_blank: "Age:" }, { class: "form-select form-select-md mb-3", required: "true" }
  .field
    = f.select :educational_level, [["Basic", "Basic"], ["Median", "Median"], ["Advanced", "Advanced"],
                                    ["Very Advanced", "Very Advanced"]],
                                   { include_blank: "Educational Level:" }, { class: "form-select form-select-md mb-3", required: "true" }
  .field
    = f.select :martial_status, [["Single", "Single"], ["Married", "Married"], ["Engaged", "Engaged"],
                                ["Divorced", "Divorced"], ["Other", "Other"]],
                                { include_blank: "Martial Status: " }, { class: "form-select form-select-md mb-3", required: "true" }
  .field
    = f.select :professional_area, [["Architecture and engineering", "Architecture and engineering"], ["Arts, culture and entertainment", "Arts, culture and entertainment"],
                                    ["Business, management and administration", "Business, management and administration"],
                                    ["Communications", "Communications"],
                                    ["Community and social services", "Community and social services"], ["Education", "Education"],
                                    ["Science and technology", "Science and technology"], ["Other", "Other"]],
                                   { include_blank: "Professional Area: " }, { class: "form-select form-select-md mb-3", required: "true" }
  .field
    = f.select :family_size, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5+", "> 5"]],
                             { include_blank: "Family Size: " }, { class: "form-select form-select-md mb-3", required: "true" }
  %br
  .center.text-center
    = f.submit "Check this customer decision", class: "btn btn-primary submit-button"
