%h1.text-center Last customer predictions
.text-center
  %p#notice= notice
%br
.container
  %table.table.table-dark.table-striped
    %thead
      %tr
        %th(scope = "col") Gender:
        %th(scope = "col") Age:
        %th(scope = "col") Educational level:
        %th(scope = "col") Martial status:
        %th(scope = "col") Family size:
        %th(scope = "col") Professional area:
        %th(scope = "col") Customer Product Prediction:

    %tbody
      - @user_decisions.each do |user_decision|
        %tr
          %td= user_decision.gender
          %td= user_decision.age
          %td= user_decision.educational_level
          %td= user_decision.martial_status
          %td= user_decision.family_size
          %td= user_decision.professional_area
          %td= user_decision.decision

  %br
  .center
    = link_to 'New customer prediction', new_user_decision_path, class: "btn btn-primary btn-lg px-4 me-md-2"
