%h1 Listing user_decisions

%table
  %thead
    %tr
      %th Gender
      %th Age
      %th Educational level
      %th Martial status
      %th Professional area
      %th Family size
      %th
      %th
      %th

  %tbody
    - @user_decisions.each do |user_decision|
      %tr
        %td= user_decision.gender
        %td= user_decision.age
        %td= user_decision.educational_level
        %td= user_decision.martial_status
        %td= user_decision.professional_area
        %td= user_decision.family_size
        %td= link_to 'Show', user_decision
        %td= link_to 'Edit', edit_user_decision_path(user_decision)
        %td= link_to 'Destroy', user_decision, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User decision', new_user_decision_path
